.admin_side_nav{
    list-style:none;
    padding:0;
}
.admin_side_nav .nav_item{
    padding:4px;
    border: 1px solid black;
    margin-top:-1px;
    font-weight:bold;
    background:#0db2b240;
    height: 34px;
    overflow: hidden;
    cursor:pointer;
}
.admin_side_nav .nav_item:hover{
    background:#092046;
    color:#fff;
}
.admin_side_nav .db_item{
    background:#0db2b299;
}

.table-db-builder tr td:nth-child(1){
    width: 200px;
}
.actualNameTd{
    font-weight: bold;
    text-align: center;
}